<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- %></title>
    <link rel="stylesheet" href="css/style.css" />
    <meta name="description" content="<%=  %>" />
    <script type="text/javascript" defer src="/js/script.js"></script>
  </head>
  <body>
    <%- include('../partials/searchbar.ejs') %>
    <div class="container">
      <%- include('../partials/Header.ejs') %>
      <main class="main"><%- body %></main>
      <%- include('../partials/Footer.ejs') %>
    </div>
  </body>
</html>
